.appTitle {
  margin: 20px 0;
}
.link span {
  text-decoration: underline;
}
.link span:hover {
  cursor: pointer;
}
.button {
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}
.input {
  padding: 8px 40px 8px 8px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.inputDiv {
  margin: 20px 0;
}

.togglePassword {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #888;
}
