.dialogOverlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
}
.dialogContent {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 150px;
  background: white;
  padding: 30px;
  border-radius: 4px;
  align-items: center;
}
.openButton {
  margin: 10px 0;
  padding: 15px;
}
.cancelButton {
  width: 50%;
  min-width: 120px;
  margin: 10px 0;
  padding: 5px 10px;
  color: white;
  background-color: var(--color-primary-pink);
  cursor: pointer;
}
.confirmButton {
  width: 50%;
  min-width: 120px;
  margin: 10px 0;
  padding: 5px 10px;
  color: white;
  background-color: var(--color-primary);
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.description {
  font-size: 16px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .openButton {
    margin: 20px 0;
    padding: 20px;
    font-size: 18px;
  }
  .content {
    margin-bottom: 20px;
  }
  .cancelButton {
    font-size: 18px;
  }
  .confirmButton {
    font-size: 18px;
  }
  .buttons {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1024px) {
  .openButton {
    margin: 25px 0;
    padding: 25px;
    font-size: 19px;
  }
}
