:root {
  --color-primary: #29a383;
  --color-primary-pink: #f453e1;
  --color-text: #0e0e0e;

  --footer-height: 50px;
  --header-height: 50px;
  --header-height-tablet: 80px;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;

  --max-layout-width: 1200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: var(--font-roboto);
}

a {
  color: inherit;
  text-decoration: none;
}

.roboto-font {
  font-family: var(--font-roboto);
}

.allura-font {
  font-family: var(--font-allura);
}
.error-text {
  color: var(--color-primary-pink);
  margin: 1rem 0;
}
