.alertDialogOverlay {
  background-color: rgba(128, 128, 128, 0.488);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.alertDialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.alertDialogContent:focus {
  outline: none;
}

.alertDialogDescription {
  margin-bottom: 20px;
  color: var(--color-text);
  font-size: 15px;
  line-height: 1.5;
}

.dialog-button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  color: #ffffff;
}
.dialog-button.approve {
  background-color: var(--color-primary-pink);
}
.dialog-button.approve:focus,
.dialog-button.approve:hover {
  box-shadow: 0 0 0 2px #a400b03d;
}
.dialog-button.cancel {
  background-color: var(--color-primary);
}
.dialog-button.cancel:focus,
.dialog-button.cancel:hover {
  box-shadow: 0 0 0 2px #51ee3c;
}

.button {
  width: 24px;
  height: 24px;
  padding: 2px;
}

@media (min-width: 768px) {
  .button {
    width: 32px;
    height: 32px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1024px) {
  .button {
    width: 40px;
    height: 40px;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
