.menu-button {
  margin: auto;
}

.menu-button-icon {
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .menu-button-icon {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1024px) {
  .menu-button {
    margin-right: 0;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
